git+https://github.com/AtrCheema/AI4Water.git@e7da7f49792b467f99186e6dd61b97486750ae3c
git+https://github.com/Sara-Iftikhar/easy_mpl.git@5c7639f86d0be17332b5570ffa5940d5fca098b7
numpy==1.19.5
matplotlib==3.4.3
tensorflow==2.6.0
keras==2.6.0
h5py==3.1.0
scikit-learn==1.0.2
scikit-optimize==0.9.0
seaborn

sphinx
sphinx-prompt
sphinx_rtd_theme
sphinx_issues
sphinx-gallery

openpyxl

shap==0.41.0
umap-learn
protobuf==3.19.1
xgboost