git+https://github.com/AtrCheema/AI4Water.git@dev
git+https://github.com/Sara-Iftikhar/easy_mpl.git@dev
numpy==1.19.5
matplotlib==3.4.3
tensorflow==2.6.0
keras==2.6.0
h5py
sklearn
seaborn

sphinx
sphinx-prompt
sphinx_rtd_theme
sphinx_issues
sphinx-gallery

openpyxl

shap==0.41.0
umap-learn
protobuf==3.19.1
xgboost